.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eeeeee;
}

.login-form {
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  width: 70%;
  max-width: 400px;
  align-items: center;
}

.login-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.login-input {
  width: 90%;
  max-width: 300px;
  padding: 14px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;

}

.login-button {
  width: 100%;
  padding: 12px;
  max-width: 300px;
  background: #040404;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.login-button:hover {
  background: #494b49;
}

.login-error {
  color: red;
  margin-bottom: 10px;
  font-size: 14px;
  text-align: center;
}

.login-success {
  margin-top: 10px;
  color: green;
  font-size: 14px;
  text-align: center;
}
